/*Global*/
@font-face {
  font-family: 'Abel-Regular';
  src: url('./font/Abel-Regular.eot');
  src: url('./font/Abel-Regular.eot?#iefix') format('embedded-opentype'),
       url('./font/Abel-Regular.woff') format('woff'),
       url('./font/Abel-Regular.ttf') format('truetype'),
       url('./font/Abel-Regular.svg#Abel-Regular') format('svg');
}
html, body {
	height: 100%;
	margin : 0px;
	font-family: 'Abel-Regular',sans-serif;
}

.alignText{
	text-align: justify;
}

/*Welcome CSS*/

.fullHeight {
	height: 100%;
}

#welcomeBackground {
	background-size: 100% 100%;
	background-position: left top;
	background-attachment: fixed;
	height:100%;
	/*This removes the space from the container*/
	margin-right: -15px;
	margin-left: -15px;
}

.title {
	margin: 0px;
}

.divider {
	margin-top: 0px;
	margin-bottom: 5px;
	width: 22%;
}

.mainTitle {
	font-size: 10vh;
	animation-duration: 2.5s;
  animation-name: tocenter;
}

@keyframes tocenter {
  from {
    letter-spacing: 2vw;
    opacity: 0;
  }

  to {
		letter-spacing: 0;
    opacity: 1;
  }
}

.subTitle {
	font-size: 5vh;
	animation-duration: 2.5s;
	animation-name: fadein;
}

.row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.centerHeight {
	padding: 35vh 0;
}

/*About CSS -- there is also css in a media query*/

.about {
	background-color: black;
  margin-left: -15px;
  margin-right: -15px;
  color: white;
}

.borderAbove {
  height: 6vh;
  position: relative;
  top: 1px;
  background-color: black;
	margin:0 -15px;
	/*left top, right top, right bottom, left bottom*/
	clip-path: polygon(
		0 90%, 
		100% 0, 
		100% 100%,
		0 100%
	);
}

.borderBelow {
  height: 6vh;
  position: relative;
  background-color: black;
  top: -1px;
	margin:0 -15px;
	/*left top, right top, right bottom, left bottom*/
	clip-path: polygon(
		0 0, 
		100% 0, 
		100% 100%,
		-5% 0
	);
}

.bioText {
	font-size: 22px;
	margin: 1vh 0 1vh 0;
	padding-top: 2vh;
}

.smallBar {
	width: 50%;
}

.bioImage {
	content: url('../images/bioImage.jpg');
	width: 80%;
	margin: 1vh 5vw;
	border-radius: 50%;
}

.slideInLeft {
	animation-duration: 2s;
  animation-name: slideinleft;
}

.slideInRight {
	animation-duration: 4s;
	animation-name: slideinright;
}

.fadeIn {
	animation-duration: 2s;
	animation-name: fadein;
}

@keyframes slideinleft {
  from {
    margin-left: -20vw;
    margin-right: 20vw;
    opacity: 0;
  }

  to {
    margin-left: 0vw;
    margin-right: 0vw;
    opacity: 1;
  }
}

@keyframes slideinright {
  from {
    margin-left: 20vw;
    margin-right: -20vw;
    opacity: 0;
  }

  to {
    margin-left: 0vw;
    margin-right: 0vw;
    opacity: 1;
  }
}

@keyframes fadein {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/*Experience CSS*/

.experienceBackground {
/*	background-color: #faf8ed;
*/	/*Counter whitespace from container*/
	margin-left: -15px;
	margin-right: -15px;
	padding: 3vh 0;
}

.professionalBackground {
/*	background-color: #d8d2b4;
*/}

.educationBackground {
/*	background-color: #f0e8c4;
*/}

.technologyBackground {
/*	background-color: #e4dfcb;
*/	margin: 1vh 1vw;
	padding: 1vh 1vw;
}

.blackBar {
	border-top: 1px solid #8e8e8e;
	margin: 1vh 3vw;
}

.experienceText {
	margin: 2vh 1vw;
	font-size: 18px;
	padding: 0 1vw;
}

.floatRight {
	float: right;
}

.experienceButton {
	margin: 1vh 1vw;
	color: white;
	background-color: black;
}

.removeTopMargin {
	margin-top: 0px;
}


/*Projects CSS -- there is also css in a media query*/

.projectsBackground {
	background-color: black;
	margin-left: -15px;
	margin-right: -15px;
	color: white;
}

.gameHostSection {
	background-color: white;
	color: #003A65;
	padding: 1vh 2vw 1vh 2vw;
	margin-right: 1vw;
}

.gameHostSection h2 {
	color: #003A65;
}

.immigrationPortalSection {
	background-color: white;
	color: black;
	padding: 1vh 2vw 1vh 2vw;
	margin-left: 1vw;
}

.immigrationPortalSection h2{
	color: rgba(64, 64, 64, 1);
}

.gameHostLink {
	content: url('../images/gameHost.jpg');
	width: 100%;
}

.immigrationPortalLink {
	content: url('../images/immigrationApp.jpg');
	width: 100%;
}

.screenReader {
  height: 1px;
  width: 1px;
  position: absolute;
  overflow: hidden;
  top: -10px;
}

/*Contact CSS*/
.contactBackground {
	background-color: black;
	/*Counter whitespace from container*/
	margin-left: -15px;
	margin-right: -15px;
	padding: 1vh 0 1vw 0;
}

.contactText {
	font-size: 24px;
	display: inline;
	margin: 0 1vw;
}

.contactText a {
	color: white;
}

/*Media query*/
/*Small screen -- bootstrap resize*/
@media (max-width: 991px){
	/*Welcome*/
	.centerHeight {
		padding: 0vh 0;
		color: blue;
	}

	/*Bio*/
	.bioText {
		margin: 3vh 3vw 3vh 3vw;
	}

	.bioImage {
		width: 50%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	/*Projects*/
	.gameHostSection, .immigrationPortalSection {
		height: 100%;
		margin: 0;
	}

	.gameHostLink, .immigrationPortalLink {
		width: 75%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.professionalBackground, .educationBackground{
		margin: 2vh 2vw;
	}

	.experienceText{
		margin: 1vh 10vw;
	}

	.alignText{
		text-align: left;
	}
}

/*only screen and*/
@media  (max-width: 826){
	/*Welcome*/
	.centerHeight {
		padding: 10vh 0;
		color: red;
	}
	
	/*Bio*/
	.bioText {
		margin: 3vh 3vw 3vh 3vw;
	}
	.about {
		height: 100%;
	}
	.bioImage {
		width: 50%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	/*Projects*/
	.gameHostSection, .immigrationPortalSection {
		height: 100%;
		margin: 0;
	}

	.gameHostLink, .immigrationPortalLink {
		width: 75%;
		display: block;
		margin-left: auto;
		margin-right: auto;
	}

	.professionalBackground, .educationBackground{
		margin: 2vh 2vw;
	}

	.experienceText{
		margin: 1vh 10vw;
	}

	.alignText{
		text-align: left;
	}
}


/*Background zoom, shared*/
.backgroundZoom{
	position: relative;
	transition: transform .2s;
	z-index: 10;
}

.backgroundZoom:hover{
	transform: scale(1.2);
	z-index: 10000;
}